<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitsmefine.fitsmefine">

    <!-- so I can connect to the internet and get the image files -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- so I can check internet connection and wifi connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/fmf"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- first screen when app loads - "Main Parent Activity" -->
        <!-- The main/home activity (it has no parent activity) -->
        <activity android:name=".Main.Index_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.fitsmefine.fitsmefine.Main.Search_Results_Activity" />
        </activity>
        <!-- Defining the Search_Results_Activity -->
        <activity
            android:name=".Main.Search_Results_Activity"
            android:parentActivityName=".Main.Index_Activity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <!-- *************** add the search meta tags to each of the activities - inside the activity tags for each activity -->


        <!-- Defining parent's for each of the activities to return to Index when the up arrow is selected -->
        <activity
            android:name=".Main.LoginActivity"
            android:parentActivityName=".Main.Index_Activity" />
        <activity
            android:name=".Main.AboutActivity"
            android:parentActivityName=".Main.Index_Activity" />
        <activity
            android:name=".Main.DisplayCategories"
            android:parentActivityName=".Main.Index_Activity" />
        <activity
            android:name=".Main.Pants_Results_List"
            android:parentActivityName=".Main.Index_Activity" />
        <activity
            android:name=".Main.MapsActivity"
            android:parentActivityName=".Main.Index_Activity" />

        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.fitsmefine.fitsmefine.Main.Index_Activity" />


        <!-- <uses-feature android:name="android.hardware.camera.any" android:required="true" /> -->


        <!--
            Types of tags which you will use in your manifest file to specify different Android application components
        •	<activity>elements for activities
        •	<service> elements for services
        •	<receiver> elements for broadcast receivers
        •	<provider> elements for content providers
        -->


        <!--    *********************   Google Maps stuff
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAAuV2-5mczdr9rG14tH9AmbLUGXr8joVs" />

    </application>

</manifest>